site_name: Changda Ma
site_url: https://changdama.github.io
site_description: Research in Architecture, Acoustics, and AI

theme:
  name: material
  logo: assets/profile.jpg
  features:
    - content.code.copy
    - content.tooltips
    - navigation.footer
    - navigation.indexes
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to system preference
  icon:
    logo: material/library

plugins:
  - search

nav:
  - Home: index.md

  - Projects:
      - Overview: projects/index.md
      - Fall 2025:
          - Noise & Sleep Disturbance: projects/noise-sleep.md
          - MusicGen-Rhythm: projects/musicgen-rhythm.md
          - XR Instruments: projects/xr-instruments.md
      - Spring 2025:
          - Project A: projects/25-sp-project-a.md
          - Project B: projects/25-sp-project-b.md

  - Publications: publications.md
  - CV: cv.md
  - Contact: contact.md


markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/changdama
    - icon: fontawesome/brands/google-scholar
      link: https://scholar.google.com/citations?user=YourProfileID&user=NU5McRIAAAAJ
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/changda-ma-419601256/
    - icon: fontawesome/solid/envelope
      link: mailto:cma326@gatech.edu
    - icon: fontawesome/brands/orcid
      link: https://orcid.org/0009-0005-9355-8525
    - icon: fontawesome/brands/researchgate
      link: https://www.researchgate.net/profile/Changda-Ma/research

extra_css:
  - stylesheets/extra.css
extra_javascript:
  - javascripts/site.js


